$color-disabled: rgba(1.0, 1.0, 1.0, 0.1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 20px;
    display: grid;
    row-gap: 40px;
}

section {
    display: grid;
}

option {
    color: black;
}

select:invalid,
.option-invalid {
    color: #{$color-disabled};
}

input,
select,
#day-group,
#vegetable-group {
    width: 250px;
    height: 60px;
    font-size: 24px;
}

label {
    width: 600px;
    font-size: 24px;
    padding-bottom: 4px;
    font-weight: bold;
}

#input-day,
#input-number-of-days,
#input-3-numbers,
#input-3-names,
#input-count-substrings{
    width: 500px;
}

popup-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1100px;

    popup-div{
        display: block;
        padding-left: 20px;

        &.error-msg{
            color: red;
        }
    }
}