@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-primary: "Roboto";
    --color-disabled: rgba(1.0, 1.0, 1.0, 0.1);
    // (fs = font-size)
    --fs1: clamp(22px, 2.0vw, 45px);
    --fs2: calc(var(--fs1) - 2px);
    --fs3: calc(var(--fs2) - 2px);
    --fs4: calc(var(--fs3) - 2px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary), sans-serif;
    font-weight:400;
}

main {
    margin: calc(var(--fs4) * 0.35);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(var(--fs1) * 1.75);
}

option {
    color: black;
}

select:invalid,
.option-invalid {
    color: var(--color-disabled);
}


input,
select {
    padding-left: calc(var(--fs4) * 0.25);
    width: clamp(300px, 45vw, 90vw);
    min-height: calc(var(--fs4) * 2.25);
    font-size: var(--fs4);
}

input:focus::placeholder {
    color: transparent;
}


label {
    text-align: center;
    font-size: var(--fs4);
    font-weight: bold;
}

popup-parent {
    margin-top: calc(var(--fs4) * 0.3);
    display: grid;
    row-gap: 10px;

    popup-div{
        font-size: calc(var(--fs4) * 0.95);
        display: block;
        font-style: italic;
    
        &.error-msg{
            color: red;
            font-weight: bold;

            text-shadow: 
                1px 1px 0.15em black,
                -1px -1px 0.15em black,
                1px -1px 0.15em black,
                -1px 1px 0.15em black,

                0px 1px 0.15em black,
                0px -1px 0.15em black,
                1px 0px 0.15em black,
                -1px 0px 0.15em black,
                ;
        }
    }
}

@media screen and (max-width: 900px){
    main {
        grid-template-columns: 1fr;
    }
}